<ion-view view-title="Friends" id="friends-page">
  <ion-content class="page-content">

  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()" 
    spinner= "none"
    refreshing-icon="ion-load-c">
  </ion-refresher>

  <p ng-show="noFriend">No Friends</p>


    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="friend in friendsList" on-touch="friendPage(friend)" type="item-text-wrap" href="#/tab/friends/user/{{::friend.id}}/friends">
        <img ng-src="{{::friend.picture.data.url}}">
        <h2>{{::friend.name}}</h2>
        
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>