<ion-view view-title="Post" id="post-page" class="post-pages {{::parentCategory}}">
    <i class="message-form-link ion-chatbubble-working" on-touch="openFormModal()"></i>

  <ion-content class="padding page-content" overflow-scroll="true">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()" 
      spinner= "none"
      refreshing-icon="ion-load-c">
    </ion-refresher>  

    <!-- Posts Description -->
    <section class="posts-list-container">
      <div class="list card fadein-effect" ng-show="gotPost" ng-init="getPost()" data-postid="{{::postId}}">

        <!-- User infos and post redirection -->
        <div class="item item-avatar">
          <a class="user-picture" ng-style="{'background-image':'url(' + post.userPicture + ')'}" on-touch="::userPage(post.userId,post.userName,post.userPicture)" href="#/tab/{{::parentCategory}}/user/{{::post.userId}}/{{::parentCategory}}"></a>
          <h2>
            <a href="#/tab/{{::parentCategory}}/user/{{::post.userId}}/{{::parentCategory}}" on-touch="::userPage(post.userId,post.userName,post.userPicture)"> {{::post.userName}}
            </a>
          </h2>
          <p>{{::post.time | date : 'MMM d, y HH:mm:ss'}}</p>
        </div>

        <div class="item item-body">
        <!-- Pictures and vote action container -->
          <div class="item item-image">
            <div class="images-container">
              <div class="picture picture-A" ng-style="{'background-image':'url('+ post.pictureA +')'}" ng-click="goToSlide(0); modalPictureUpdate(post)">
                <i class="ion-checkmark-circled has-voted has-voted-A"></i>
              </div>
              <div class="picture picture-B" ng-style="{'background-image':'url('+ post.pictureB +')'}" ng-click="goToSlide(1); modalPictureUpdate(post)">
                <i class="ion-checkmark-circled has-voted has-voted-B"></i>
              </div>
            </div>

            <div class="vote-buttons-container" ng-hide="post.hasVoted">
              <button class="button vote-A" on-tap="vote(post, 'A')">Vote</button>
              <button class="button vote-B" on-tap="vote(post, 'B')">Vote</button>
              <div class="vote-loading loading hide">
                <i class="ion ion-load-c loading-icon"></i>
              </div>
            </div>

            <div class="results-container" ng-show="post.hasVoted">
              <div class="results results-A" data-postid="{{::postId}}">
              </div>
              <div class="results results-B" data-postid="{{::postId}}">
              </div>
            </div>
          </div>
          <!-- Post content -->
          <h2>{{::post.title}}</h2>
          <p class:"description">{{::post.description}}</p>
          <p>
            <a href="#" class="subdued">{{ post.voteATotal + post.voteBTotal}} Votes</a>
            <a href="#" class="subdued">{{ post.totalMessages }} Comments</a>
          </p>
        </div>
        <button class="edit-delete-btn" ng-click="showDeleteModal(post.$key, post.title)"><i class="ion-trash-b"></i></button>
        <button class="report-btn" ng-click="showReportModal(post.$key, post.title)"><i class="ion-alert"></i></button>
      </div>
    </section>

<!--     <section class="comment-form">
      <form name="messageForm" novalidate="" ng-submit="submitMessage(messageForm)">
        <label class="item item-input" ng-class="{ 'has-errors' : messageForm.commentObj.$invalid, 'no-errors' : messageForm.commentObj.$valid}">
          <input type="text" name="message" ng-model="commentObj.message" placeholder="Message" required>
          <div class="message-input-loading loading" ng-show="commentSending">
            <i class="ion ion-load-c loading-icon"></i>
          </div>
        </label>
        <button class="button button-full button-positive btn-form-submit" type="submit">Post</button>
      </form>
    </section> -->

    <!-- Comments -->
    <section class="comments-container">
      <div class="list card fadein-effect" ng-repeat="comment in comments | toArray | orderBy : '-time'" data-postid="{{::postId}}">
        <div class="message">
          <div class="user-infos-container">
          <a class="user-picture" ng-style="{'background-image':'url({{::comment.userPicture}})'}" on-touch="::userPage(comment.userId,comment.userName,comment.userPicture)" href="#/tab/{{::parentCategory}}/user/{{::comment.userId}}/{{::parentCategory}}"></a>
          <a on-touch="::userPage(comment.userId,comment.userName,comment.userPicture)" href="#/tab/{{::parentCategory}}/user/{{::comment.userId}}/{{::parentCategory}}" class="user">{{::comment.userName}}</a>
          <p class="time">{{::comment.time | date : 'MMM d, y HH:mm:ss'}}</p>
          </div>
          <div class="message-container">
            <p class="comment" ng-bind-html="::comment.comment | nl2br"></p>
          </div>

          
        </div>
      </div>
    </section>

     <ion-infinite-scroll
      ng-if="!noMoreData"
      on-infinite="loadMore()"
      icon="ion-load-c"
      distance="1%">
    </ion-infinite-scroll>

    <p class="no-more-cards" ng-if="noMoreData">No more messages</p>

    <script id="post-delete-modal.html" type="text/ng-template">
      <div class="default-modal modal transparent">
        <div class="modal-content">
          <h3>Want to delete this post?</h3>
          <p class="post-title">{{postDelete.title}}</p>
          <div class="buttons-container">
            <button class="cancel" on-touch="closeDeleteModal()">Cancel</button>
            <button class="delete" on-touch="deletePost(postDelete.id)">Delete</button>
          </div>
        </div>
      </div>
    </script>

    <script id="error-form.html" type="text/ng-template">
      <div class="default-modal modal transparent">
        <div class="modal-content">
          <div class="loading">
            <h2>Please fill all the form</h2>
            <div class="buttons-container">
              <button class="close" on-touch="closeErrorFormModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="display-form.html" type="text/ng-template">
      <div class="default-modal form-modal modal transparent">
        <div class="modal-content">
            <form name="messageForm" novalidate="" ng-submit="submitMessage(messageForm)">
              <label class="item item-input" ng-class="{ 'has-errors' : messageForm.commentObj.$invalid, 'no-errors' : messageForm.commentObj.$valid}">
                <textarea maxlength="200" placeholder="Type your message" rows="4" name="message" ng-model="commentObj.message" required></textarea>
                <div class="message-input-loading loading" ng-show="commentSending">
                  <i class="ion ion-load-c loading-icon"></i>
                </div>
              </label>
              <button class="button button-full button-positive btn-form-submit" type="submit">Post</button>
            </form>
        </div>
        <i class="icon ion-close-circled close-modal" on-touch="closeFormModal()"></i>
      </div>
    </script>

  </ion-content>
</ion-view>
