<ion-view view-title="Post" id="post-page" class="post-pages">
  <ion-content class="padding page-content" overflow-scroll="true">

    <section class="posts-list-container">

      <div class="list card fadein-effect" data-postid="{{::post.$key}}" ng-init="checkVote(post)">

        <!-- User infos and post redirection -->
        <div class="item item-avatar">
          <a class="user-picture" ng-style="{'background-image':'url({{::post.userPicture}})'}" on-touch="::userPage(post.userId,post.userName,post.userPicture)" href="#/tab/{{::parentCategory}}/user/{{::post.userId}}/{{::parentCategory}}"></a>
          <h2>
            <a href="#/tab/{{::parentCategory}}/user/{{::post.userId}}/{{::parentCategory}}" on-touch="::userPage(post.userId,post.userName,post.userPicture)"> {{::post.userName}}
            </a>
          </h2>
          <p>{{::post.time | date : 'MMM d, y HH:mm:ss'}}</p>
        </div>

        <div class="item item-body">
        <!-- Pictures and vote action container -->
          <div class="item item-image">
            <div class="images-container">
              <div class="picture picture-A" ng-style="{'background-image':'url({{::post.pictureA}})'}" ng-click="goToSlide(0); modalPictureUpdate(post)">
                <i class="ion-checkmark-circled has-voted has-voted-A"></i>
              </div>
              <div class="picture picture-B" ng-style="{'background-image':'url({{::post.pictureB}})'}" ng-click="goToSlide(1); modalPictureUpdate(post)">
                <i class="ion-checkmark-circled has-voted has-voted-B"></i>
              </div>
            </div>

            <div class="vote-buttons-container" ng-hide="post.hasVoted">
              <button class="button vote-A" on-tap="vote(post, 'A')">Vote</button>
              <button class="button vote-B" on-tap="vote(post, 'B')">Vote</button>
              <div class="vote-loading loading hide">
                <i class="ion ion-load-c loading-icon"></i>
              </div>
            </div>

            <div class="results-container" ng-show="post.hasVoted">
              <div class="results results-A" data-postid="{{::post.$key}}">
              </div>
              <div class="results results-B" data-postid="{{::post.$key}}">
              </div>
            </div>
          </div>
          <!-- Post content -->
          <h2>{{::post.title}}</h2>
          <p class:"description">{{::post.description}}</p>
          <p>
            <a href="#" class="subdued">{{ post.voteATotal + post.voteBTotal}} Votes</a>
            <a href="#" class="subdued">{{ ::post.totalMessages }} Comments</a>
          </p>
        </div>
        <button class="edit-delete-btn" ng-click="showDeleteModal(post.$key, post.title)"><i class="ion-trash-b"></i></button>
        <button class="report-btn" ng-click="showReportModal(post.$key, post.title)"><i class="ion-alert"></i></button>

      </div>
    </section>

    <script id="post-delete-modal.html" type="text/ng-template">
      <div class="edit-delete-modal modal transparent">
      <div class="modal-content">
        <h3>Want to delete this post?</h3>
        <p class="post-title">{{postDelete.title}}</p>
        <div class="buttons-container">
          <button class="cancel" on-touch="closeDeleteModal()">Cancel</button>
          <button class="delete" on-touch="deletePost(postDelete.id)">Delete</button>
        </div>
        </div>
      </div>
    </script>

  </ion-content>
</ion-view>
