<ion-view view-title="Support & Legals" id="support-page">
  <ion-content class="page-content">
    <section class="contact">
      <p>If you want to report a bug or give us a feedback</p>
      <p class="last">Please send us an email with the link below</p>
      <a href="mailto:rdeswarte.sf@gmail.com" class="link email-link">
       <span>Email Support</span>
     </a>
    </section>

    <section class="legals">
      <p>Check the privacy policy of WhichOne application</p>

      <a class="link" href="#tab/account/support/legals">Legals & Privacy policy</a>
    </section>

  </ion-content>
</ion-view>


