<ion-view view-title="Add" id="post-add-page">
  <ion-content class="page-content fadein-effect">
    <!-- <h2 style="text-align: center; padding-top: 20px;">Add</h2> -->
    
      <div class="picture-container picture-one">
        <button class="button camera" ng-click="takePictureCamera('picture-one')"><i class="icon ion-camera"></i></button>
        <button class="button library" ng-click="takePictureLibrary('picture-one')"><i class="icon ion-ios-albums"></i></button>
      </div>

      <div class="picture-container picture-two">
        <button class="button camera" ng-click="takePictureCamera('picture-two')"><i class="icon ion-camera"></i></button>
        <button class="button library" ng-click="takePictureLibrary('picture-two')"><i class="icon ion-ios-albums"></i></button>
      </div>

    <form name="postForm" novalidate="" ng-submit="submitPost(postForm)">


      <div class="list">


      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select ng-model="post.category" required>
          <option selected value="general">General</option>
          <option value="animals">Animals</option>
          <option value="art">Art</option>
          <option value="fashion">Fashion</option>
          <option value="food">Food</option>
          <option value="game">Game</option>
          <option value="nature">Nature</option>
          <option value="people">People</option>
          <option value="sport">Sport</option>
          <option value="technology">Technology</option>
          <option value="travel">Travel</option>
          <option value="vehicule">Vehicule</option>
        </select>
      </label>


        <label class="item item-input" ng-class="{ 'has-errors' : postForm.title.$invalid, 'no-errors' : postForm.title.$valid}">
          <!-- <span class="input-label">Title</span> -->
          <input type="text" name="title" ng-model="post.title" placeholder="Title" required>
        </label>
        <label class="item item-input" ng-class="{ 'has-errors' : postForm.description.$invalid, 'no-errors' : postForm.description.$valid}">
          <!-- <span class="input-label">Description</span> -->
          <!-- <input type="text" placeholder="Last Name"> -->
          <!-- <input type="text" placeholder="Description" rows="4" name="description" ng-model="post.description" required> -->
          <textarea placeholder="Description" rows="3" name="description" ng-model="post.description" required></textarea>
        </label>
      </div>

      <button class="button button-full button-positive btn-form-submit" type="submit">
        Post
      </button>
    </form>

    <script id="picture-upload.html" type="text/ng-template">
      <div class="default-modal picture-upload-modal modal transparent">
        <div class="modal-content">
          <div class="loading">
            <i class="ion ion-load-c loading-icon"></i>
            <p>Uploading Pictures</p>
          </div>
        </div>
      </div>
    </script>

    <script id="error-form.html" type="text/ng-template">
      <div class="default-modal error-form-modal modal transparent">
        <div class="modal-content">
          <div class="loading">
            <h2>Please fill all the form</h2>
            <div class="buttons-container">
              <button class="close" on-touch="closeErrorFormModal()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </script>

  </ion-content>
</ion-view>
