<ion-view view-title="Home" id="dash-page">
  <ion-content class="padding page-content" overflow-scroll="true">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()" 
      spinner= "none"
      refreshing-icon="ion-load-c">
    </ion-refresher>  

    <section class="posts-list-container">

      <div class="list card" ng-repeat="post in posts | toArray | orderBy : '-time'" data-postid="{{::post.$key}}" ng-init="checkVote(post.$key, post)">
        <!-- User infos and post redirection -->
        <div class="item item-avatar">
          <a class="user-picture" ng-style="{'background-image':'url({{::post.userPicture}})'}" on-touch="::userPage(post.userId,post.userName,post.userPicture)" href="#/tab/dash/user/{{::post.userId}}/dash"></a>
          <h2>{{::post.userName}}</h2>
          <p>{{::post.time | date : 'MMM d, y HH:mm:ss'}}</p>
          <a href="#/tab/dash/post/{{::post.$key}}/dash" class="item post-link" on-touch="::postPage(post.$key, post)">
            <i class="icon ion-ios-arrow-right"></i>
          </a>
        </div>

        <div class="item item-body">
        <!-- Pictures and vote action container -->
          <div class="item item-image">
            <div class="images-container">
              <div class="picture picture-A" ng-style="{'background-image':'url({{::post.pictureA}})'}" ng-click="goToSlide(0); modalPictureUpdate(post)"></div>
              <div class="picture picture-B" ng-style="{'background-image':'url({{::post.pictureB}})'}" ng-click="goToSlide(1); modalPictureUpdate(post)"></div>
            </div>
            <div class="vote-buttons-container">
              <button class="button vote-A" on-tap="vote(post, 'A')"><i class="ion-checkmark-circled"></i></button>
              <button class="button vote-B" on-tap="vote(post, 'B')"><i class="ion-checkmark-circled"></i></button>
            </div>

            <div class="results-container">
              <div class="results results-A">
                <radial percentage="post.totalA"></radial>
              </div>
              <div class="results results-B">
                <radial percentage="post.totalB"></radial>
              </div>
            </div>
          </div>
          <!-- Post content -->
          <h2>{{::post.title}}</h2>
          <p class:"description">{{::post.description}}</p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>

      </div>
    </section>

    <ion-infinite-scroll
      ng-if="!noMoreData"
      on-infinite="loadMore()"
      icon="ion-load-c"
      distance="1%">
    </ion-infinite-scroll>

    <p class="no-more-cards" ng-if="noMoreData">No more cards</p>

    <script id="image-modal.html" type="text/ng-template">
      <div class="dash-modal modal image-modal transparent" ng-click="closeModal()">
        <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">
          <ion-slide ng-repeat="oImage in aImages">
            <!-- **** Before zoom **** -->
            <!-- <img ng-src="{{oImage.src}}" class="fullscreen-image" /> -->
            <!-- <p class="info">{{oImage.msg}}</p> -->
            <!-- **** End Before zoom **** -->
            <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%" min-zoom="1">
              <!-- <div style="width: 5000px; height: 5000px; background: url('{{oImage.src}}') repeat"></div> -->
              <img ng-src="{{oImage.src}}" class="fullscreen-image"/>
              <!-- <p class="info">{{oImage.msg}}</p> -->
            </ion-scroll>

          </ion-slide>
        </ion-slide-box>
        <i class="icon ion-close-circled close-modal"></i>
      </div>
    </script>

  </ion-content>
</ion-view>
