<ion-view view-title="Home" id="dash-page" class="post-pages">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear side-menu ion-more" ng-click="toggleLeft()">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear side-menu ion-ios-search-strong" ng-click="showSearchModal()">
    </button>
  </ion-nav-buttons>

  <ion-content class="padding page-content" overflow-scroll="true">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()" 
      spinner= "none"
      refreshing-icon="ion-load-c">
    </ion-refresher>  

    <section class="posts-list-container">

      <div class="list card fadein-effect" ng-repeat="post in posts | toArray | orderBy : '-time'" data-postid="{{::post.$key}}" ng-init="checkVote(post)">

        <!-- User infos and post redirection -->
        <div class="item item-avatar">
          <a class="user-picture" ng-style="{'background-image':'url({{::post.userPicture}})'}" on-touch="userPage(post.userId,post.userName,post.userPicture)" href="#/tab/dash/user/{{::post.userId}}/dash"></a>
          <h2>
            <a href="#/tab/dash/user/{{::post.userId}}/dash" on-touch="::userPage(post.userId,post.userName,post.userPicture)"> {{::post.userName}}
            </a>
          </h2>
          <p>{{::post.time | date : 'MMM d, y HH:mm:ss'}}</p>
          <a href="#/tab/dash/post/{{::post.$key}}/dash" class="item post-link">
            <i class="icon ion-ios-arrow-right"></i>
          </a>
        </div>

        <div class="item item-body">
        <!-- Pictures and vote action container -->
          <div class="item item-image">
            <div class="images-container">
              <div class="picture picture-A" ng-style="{'background-image':'url({{::post.pictureA}})'}" ng-click="goToSlide(0); modalPictureUpdate(post)">
                <i class="ion-checkmark-circled has-voted has-voted-A"></i>
              </div>
              <div class="picture picture-B" ng-style="{'background-image':'url({{::post.pictureB}})'}" ng-click="goToSlide(1); modalPictureUpdate(post)">
                <i class="ion-checkmark-circled has-voted has-voted-B"></i>
              </div>
            </div>

            <div class="vote-buttons-container" ng-hide="post.hasVoted">
              <button class="button vote-A" on-tap="vote(post, 'A')">Vote</button>
              <button class="button vote-B" on-tap="vote(post, 'B')">Vote</button>
              <div class="vote-loading loading hide">
                <i class="ion ion-load-c loading-icon"></i>
              </div>
            </div>

            <div class="results-container" ng-show="post.hasVoted">
              <div class="results results-A" data-postid="{{::post.$key}}">
              </div>
              <div class="results results-B" data-postid="{{::post.$key}}">
              </div>
            </div>
          </div>
          <!-- Post content -->
          <h2>{{::post.title}}</h2>
          <p class:"description"><pre>{{::post.description}}</pre></p>
          <p class="votes-messages-count">
            <span class="subdued"><i class="ion-android-checkmark-circle"></i> {{post.voteATotal + post.voteBTotal}}</span>
            <span class="subdued"><i class="ion-chatbubbles"></i> {{::post.totalMessages}}</span>
          </p>
        </div>
        <button class="edit-delete-btn" ng-click="showDeleteModal(post.$key, post.title)"><i class="ion-trash-b"></i></button>
        <button class="report-btn" ng-click="showReportModal(post.$key, post.title)"><i class="ion-ios-flag"></i></button>

      </div>
    </section>

    <ion-infinite-scroll
      ng-if="!noMoreData"
      on-infinite="loadMore()"
      icon="ion-load-c"
      distance="1%">
    </ion-infinite-scroll>


    <p class="no-more-cards" ng-if="noMoreData">No more cards</p>

    <script id="post-delete-modal.html" type="text/ng-template">
      <div class="default-modal modal transparent">
      <div class="modal-content">
        <h3>Want to delete this post?</h3>
        <p class="post-title">{{postDelete.title}}</p>
        <div class="buttons-container">
          <button class="cancel" on-touch="closeDeleteModal()">Cancel</button>
          <button class="delete" on-touch="deletePost(postDelete.id)">Delete</button>
        </div>
        </div>
      </div>
    </script>

    <script id="search-modal.html" type="text/ng-template">
      <div class="search-modal modal">
        <div class="modal-content">
          <div class="search-selector">
            <button class="btn-search btn" ng-class="searchPost ? 'active' : 'inactive'" ng-click="searchPost=true">Post Title</button>
            <button class="btn-search btn" ng-class="searchPost ? 'inactive' : 'active'" ng-click="searchPost=false">User Name</button>
            <i class="ion-close-circled" ng-click="closeSearchModal()"></i>
          </div>
          <form class="search-form" name="searchForm" novalidate="" ng-submit="submitSearch(searchForm, searchPost)">
            <label class="item item-input" ng-class="{ 'has-errors' : searchForm.term.$invalid, 'no-errors' : searchForm.term.$valid}">
              <input type="text" name="search" ng-model="searchForm.term" placeholder="Search" required>
            </label>
            <button class="button button-full button-positive btn-search-submit" type="submit">Search</button>
          </form>

          <div class="posts-results-container">
            <p class="no-search-result" ng-show="searchPost && noPostsResults">No post found</p>
            <p class="no-search-result" ng-show="!searchPost && noUsersResults">No user found</p>
            <ion-scroll ng-show="searchPost" direction="y" class="list">
              <ion-item class="item item-avatar item-icon-right fadein-effect search-results posts-results" ng-repeat="result in searchPostsResults | toArray" ng-click="closeSearchModal()" type="item-text-wrap" href="#/tab/dash/post/{{::result.$key}}/dash">
                <!-- <img ng-src="{{::result.userPicture}}"> -->
                <div class="user-picture" ng-style="{'background-image':'url({{::result.userPicture}})'}"></div>
                <h2>{{::result.title}}</h2>
                <p>{{::result.time | date : 'MMM d, y HH:mm:ss'}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </ion-scroll>

            <ion-scroll ng-show="!searchPost" direction="y" class="list">
              <ion-item class="item item-avatar item-icon-right fadein-effect search-results users-results" ng-repeat="result in searchUsersResults | toArray" ng-click="closeSearchModal(); userPage(result.id,result.displayName,result.profileImageURL)" type="item-text-wrap" href="#/tab/dash/user/{{::result.id}}/dash">
                <!-- <img ng-src="{{::result.profileImageURL}}"> -->
                <div class="user-picture" ng-style="{'background-image':'url({{::result.profileImageURL}})'}"></div>

                <h2>{{::result.displayName}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </ion-scroll>
          </div>
        </div>
      </div>
    </script>

  </ion-content>
</ion-view>
