.search-modal {
  .modal-content {
    .close-modal-container {
      padding: 10px;
      text-align: right;
      i {
        color: black;
        font-size: 30px;
      }
    }
  }

  .posts-results-container {

  }
}