// Improve performances
* {
  box-shadow: none !important;
}

// Override height rule on scroll containers
.overflow-scroll .scroll {
  height: auto;
}

// Remove extra top padding, remove white line between header and content
.scroll-content {
  padding-top: 0px;
}

.pane, .view {
  background-color: $bg-color;
  .card {
    border-radius: 5px !important;
  }

  // Keep posts and comments style and new lines
  pre {
    font-family: inherit;
  }
}

// Loading block and icons
.loading {
  text-align: center;
  .loading-icon {
    font-size: 30px;
  }
}
.ion-load-c {
  color: $mainColor !important;
}

// Hide global 
.hide {
    display: none !important;
}

// Form style
.button.btn-form-submit, .button.btn-search-submit, .button.btn[type="submit"] {
  background-color: $mainColor;
  &.activated {
    background-color:lighten( $mainColor, 5% );
  }
}

// Animations
.spin {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

// Fade effect custom
.fadein-effect {
 @include animationEffect(0.5s, fadeEffect);
}