body.menu-open {
  .bar-header {
    .header-item {
      .left-buttons {
        .side-menu {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          transition: all 0.2s ease;
        }
      }
    }
  }
}

.bar-header {
  .title, .back-button {
    text-transform: capitalize;
  }
  .header-item {
    .left-buttons {
      .side-menu {
        transition: all 0.2s ease;
        &.activated {
          opacity: 1;
        }
      }
    }
  }
}

.menu-left {
  .categories-list {
    .category {
      text-align: center;
      a {
        display: block;
        padding:  20px 0px;
        font-size: 40px;
        color: $positive;
        i {

        }
      }
    }
  }
}
