#account-page {
  .page-content {
    .list {
      .account-tab-user {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction:column;
        -webkit-flex-direction:column;
        border:none;
        padding-top: 20px;
        padding-bottom: 20px;

        position: relative;
        .background-picture {
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;

          background: -webkit-linear-gradient(180deg, $mainColor 1%,lighten($mainColor, 10%) 100%);
          background: linear-gradient(180deg, $mainColor 1%,lighten($mainColor, 10%) 100%);

          z-index: -1;
        }
        .user-pic {
          background-size: cover;
          background-position: 50% 50%;
          border-radius: 50%;
          width: 30%;
          &:after {
            content:"";
            display: block;
            margin-top: 100%;
          }
        }
        h2 {
          margin-top: 20px;
          color: $light;
          font-weight: bold;
        }
      }
      .item {
        &.logout-item {
          padding-top: 10px;
          padding-bottom: 10px;
          min-height: 54px;
          button {
            min-height: 0px;
            line-height: 30px;
            width: 100%;
          }
        }
      }
    }
  }
}