<ion-view view-title="Account" id="account-page" autoscroll="true">
  <ion-content class="page-content fadein-effect">
    <ion-list>

      <ion-item class="account-tab-user">
        <div class="background-picture"></div>

        <div class="user-pic" ng-style="{'background-image':'url({{::user.profileImageURL}})'}"></div>
        <h2>{{::user.displayName}}</h2>
      </ion-item>

      <a class="item item-icon-left" on-touch="userPage(user.id,user.displayName,user.profileImageURL)" href="#/tab/account/user/{{::user.id}}/account">
        <i class="icon ion-person"></i>
        My Page
      </a>

      <a class="item item-icon-left" on-touch="userPage(user.id,user.displayName,user.profileImageURL)" href="#/tab/account/my-votes/{{::user.id}}/account">
        <i class="icon ion-checkmark-circled"></i>
        My Votes
      </a>

      <a class="item item-icon-left" href="#/tab/account/support">
        <i class="icon ion-ios-information"></i>
        Support & Legals
      </a>

      <a class="item item-icon-left" href="#/tab/preferences">
        <i class="icon ion-ios-gear"></i>
        Preferences
      </a>

      <ion-item class="item-icon-right logout-item" on-touch="logoutFacebook()">
        <button class="button button-assertive">
          Logout
        </button>
        <i class="icon ion-log-out"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
