<ion-view view-title="My Votes" id="my-votes-page" class="post-pages">

  <ion-content class="padding page-content" overflow-scroll="true">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()" 
      spinner= "none"
      refreshing-icon="ion-load-c">
    </ion-refresher>  

    <section class="posts-list-container">

    <post class="list card fadein-effect" ng-repeat="post in posts | toArray | orderBy : '-time'" data-postid="{{::post.$key}}" ng-init="checkVote(post)"></post>

    </section>

    <ion-infinite-scroll
      ng-if="!noMoreData"
      on-infinite="loadMore()"
      icon="ion-load-c"
      distance="1%">
    </ion-infinite-scroll>

    <p class="no-votes" ng-show="noVotes">No votes yet</p>
    <p class="no-more-cards" ng-hide="noVotes" ng-if="noMoreData">No more cards</p>

    <script id="post-delete-modal.html" type="text/ng-template">
      <div class="default-modal modal transparent">
      <div class="modal-content">
        <h3>Want to delete this post?</h3>
        <p class="post-title">{{postDelete.title}}</p>
        <div class="buttons-container">
          <button class="cancel" on-touch="closeDeleteModal()">Cancel</button>
          <button class="delete" on-touch="deletePost(postDelete.id)">Delete</button>
        </div>
        </div>
      </div>
    </script>

  </ion-content>
</ion-view>
