<ion-view view-title="Add" id="post-add-page">
  <ion-content class="page-content">
    <h2 style="text-align: center; padding-top: 20px;">Add</h2>

         <!--  <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
      <img ng-show="imgURI === undefined"> -->
      <div class="picture-container picture-one">
        <button class="button camera" ng-click="takePictureCamera('picture-one')"><i class="icon ion-camera"></i></button>
        <button class="button library" ng-click="takePictureLibrary('picture-one')"><i class="icon ion-ios-albums"></i></button>
      </div>

      <div class="picture-container picture-two">
        <button class="button camera" ng-click="takePictureCamera('picture-two')"><i class="icon ion-camera"></i></button>
        <button class="button library" ng-click="takePictureLibrary('picture-two')"><i class="icon ion-ios-albums"></i></button>
      </div>

    <form name="postForm" novalidate="" ng-submit="submitPost(postForm)">


      <div class="list">
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : postForm.title.$invalid, 'no-errors' : postForm.title.$valid}">
          <span class="input-label">Title</span>
          <input type="text" name="title" ng-model="post.title" placeholder="Title" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : postForm.description.$invalid, 'no-errors' : postForm.description.$valid}">
          <span class="input-label">Description</span>
          <!-- <input type="text" placeholder="Last Name"> -->
          <!-- <input type="text" placeholder="Description" rows="4" name="description" ng-model="post.description" required> -->
          <textarea placeholder="Description" rows="3" name="description" ng-model="post.description" required></textarea>
        </label>
      </div>

      <button class="button button-full button-positive btn-form-submit" type="submit">
        Post
      </button>
    </form>

  </ion-content>
</ion-view>
