#splash-page {
  .page-content {
    .section {
      &.first {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction:column;
        -webkit-flex-direction:column;
        
        background: -webkit-linear-gradient(135deg, $mainColor 1%,lighten($mainColor, 10%) 100%);
        background: linear-gradient(135deg, $mainColor 1%,lighten($mainColor, 10%) 100%);

        h1 {
          color: white;
          font-size: 60px;
          margin-bottom: 30px;
        }

        button {
          width: 80%;
          background-color: #3b5998;
          color: $light;
          font-weight: bold;
          border: 1px solid #AAA;
          i {
            margin-right: 20px;
          }
        }
      }
    }
  }
}