#splash-page {
  .scroll-content {
    padding-top: 1px;
  }
  .page-content {
    .section {
      &.first {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        flex-direction:column;
        -webkit-flex-direction:column;
        
        background: -webkit-linear-gradient(135deg, $mainColor 1%,lighten($mainColor, 10%) 100%);
        background: linear-gradient(135deg, $mainColor 1%,lighten($mainColor, 10%) 100%);

        .logo {
          max-width: 250px;
          width: 100%;
        }

        p {
          margin-bottom: 100px;
          color: $light;
          font-weight: bold;
        }

        button {
          width: 80%;
          background-color: #3b5998;
          color: $light;
          font-weight: bold;
          i {
            margin-right: 20px;
          }
        }
      }
    }
  }
}