.post-pages {
  .page-content {
    .posts-list-container {
      .card {
        &:first-child {
          margin-top: 10px;
        }
        display: block;
        margin-top: 0px;
        margin-bottom: 10px;
        .item-avatar {
          padding-right: 50px;
          .user-picture {
            position: absolute;
            top: 16px;
            left: 16px;
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @include backgroundImg();
            &::before {
              border-radius: 50%;
              @include absolutePos(0px, 0px, 0px, 0px);
              content:"";
              display: block;
              @include backgroundImg();
              background-image: url('../img/user-default-small.png');
              z-index: -1;
            }
          }
          h2 {
            a {
              color: inherit;
              text-decoration: none;
            }
          }
          .post-link {
            position: absolute;
            top: 16px;
            right: 8px;
            padding: 0px;
            border: none;
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $mainColor;
            color: $light;
            i {
              font-size: 30px;
              display: block;
              text-align: center;
              margin-top: 10px;
              padding-left: 2px;
              &::before {
                line-height: 20px;
              }
            }
          }
        }
        .item-body {
          .item-image {
            padding-bottom: 16px;
            .images-container {
              overflow: hidden;
              .picture {
                position: relative;
                background-color: #EEE;
                width: 48%;
                padding-bottom: 48%;
                @include backgroundImg()
                border-radius: 3px;
                &.picture-A {
                  float: left;
                }
                &.picture-B {
                  float: right;
                }
                .has-voted {
                  display: none;
                  position: absolute;
                  top: 5px;
                  background-color: $light;
                  border-radius: 50%;
                  width: 20px;
                  height: 20px;
                  text-align: center;
                  &::before {
                    font-size: 16px;
                    line-height: 16px;
                  }
                  &.has-voted-A{
                    right: 5px;
                    color: $mainColor;
                  }
                  &.has-voted-B{
                    left: 5px;
                    color: $mainColor;
                  }
                }
              }
            }
            .vote-buttons-container {
              overflow: hidden;
              position: relative;
              margin-top: 10px;
              padding-top: 10px;
              padding-bottom: 10px;
              button {
                width: 48%;
                background-color: $mainColor;
                color: $light;
                font-weight: bold;
                &.vote-A {
                  float: left;
                }
                &.vote-B {
                  float: right;
                }
              }
              .vote-loading {
                z-index: 9;
                @include absolutePos(0px, 0px, 0px, 0px);
                @include flexCenter();
                background-color: rgba(255, 255, 255, 0.8);
              }
            }
            .results-container {
              margin-top: 20px;
              overflow: hidden;
              .results {
                float: left;
                width: 48%;
                text-align: center;
                &.results-B {
                  float: right;
                }
              }
            }
          }
        }
        &.voted {
          &.voted-A {
            .has-voted-A {
              display: block !important;
            }
          }
          &.voted-B {
            .has-voted-B {
              display: block !important;
            }
          }
        }
        .post-title {
          font-weight: bold;
        }
        .post-description {
          font-size: 14px;
        }
        .votes-messages-count {
          .subdued {
            padding-right: 10px;
            color: $mainColor;
            text-decoration: none;
          }
        }
        .edit-delete-btn, .report-btn {
          position: absolute;
          bottom: 15px;
          right: 10px;
          z-index: 9;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          color: $light;
          border:none;
          text-align: center;
          font-size: 16px;
          line-height: 16px;
          padding-left: 0px;
          padding-right: 0px;
          i {
            font-size: 16px;
            line-height: 16px;
          }
          &.edit-delete-btn {
            display: none;
            background-color: $assertive;
          }
          &.report-btn {
            display: block;
            background-color: $energized;
            width: 22px;
            height: 22px;
            i {
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
        &.my-post {
          .edit-delete-btn {
            display: block;
          }
          .report-btn {
            display: none;
          }
        }
      }
    }
  }
}
