<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>My App</title>
    <!-- App stylesheet -->
    <link href="css/app.min.css" rel="stylesheet">
    <!-- Dependencies -->
    <script src="js/jquery-2.2.1.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- FACEBOOK SDK -->
    <script src="js/facebook-sdk.js"></script>
    <!-- D3 & Radial -->
    <script src="js/d3.min.js"></script>
    <script src="js/radial.js"></script>
    <!-- Firebase & AngularFire -->
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- App Js -->
    <script src="js/app.concat.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="MainCtrl">
    <!-- Menus -->
    <ion-side-menus enable-menu-with-back-views="false">
      <ion-side-menu-content drag-content="false">
        <!-- main menu / na bar -->
        <ion-nav-bar class="bar-stable">
          <ion-nav-back-button>
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
          </ion-nav-buttons>
        </ion-nav-bar>
        <!-- content / page view -->
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu
      side="left"
      width="80"
      is-enabled="true" 
      class= "left-side-menu" 
      ng-cloak>

        <ion-header-bar class="bar-positive">
          <h1 class="title">Filter</h1>
        </ion-header-bar>
        <ion-content>
          <ul class="categories-list">
            <li menu-close class="category">
              <a href="#/tab/dash/">
                <i class="ion-earth"></i>
              </a>
            </li>
            <li ng-repeat="category in categoriesList" class="category">
              <a href="#/tab/dash/filter/{{::category.name}}">
                <i class="{{::category.icon}}"></i>
              </a>
            </li>
          </ul>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>

    <!-- Global modals -->
    <script id="error-modal.html" type="text/ng-template">
      <div class="default-modal modal transparent">
      <div class="modal-content">
        <h3>Sorry</h3>
        <h3>Something went wrong</h3>
        <p class="post-title">
          Please try again or check your wireless network
        </p>
        <div class="buttons-container">
          <button class="cancel" on-touch="closeErrorModal()">Close</button>
        </div>
        </div>
      </div>
    </script>

    <script id="no-post-modal.html" type="text/ng-template">
      <div class="default-modal modal transparent">
      <div class="modal-content">
        <h3>Sorry</h3>
        <h3>This post doesn't exist anymore</h3>
        <div class="buttons-container">
          <button class="cancel" on-touch="closeNoPostModal()">Close</button>
        </div>
        </div>
      </div>
    </script>

    <script id="image-modal.html" type="text/ng-template">
      <div class="default-modal dash-modal modal image-modal transparent" ng-click="closeModal()">
        <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">
          <ion-slide ng-repeat="oImage in aImages">
            <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%" min-zoom="1">
              <img ng-src="{{oImage.src}}" class="fullscreen-image"/>
            </ion-scroll>
          </ion-slide>
        </ion-slide-box>
        <i class="icon ion-close-circled close-modal"></i>
      </div>
    </script>

    <script id="post-report-modal.html" type="text/ng-template">
      <div class="default-modal report-modal modal transparent">
      <div class="modal-content">
        <h3>Report this post?</h3>
        <p class="post-title">{{postReport.title}}</p>
        <div class="buttons-container">
          <button class="cancel" on-touch="closeReportModal()">Cancel</button>
          <button class="report" on-touch="reportPost(postReport.id)">Report</button>
        </div>
        </div>
      </div>
    </script>

  </body>
</html>
