#user-page {
  .page-content {
    .user-info {
      position: relative;
      display: block;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 10px;

      .background-picture {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: -webkit-linear-gradient(180deg, $mainColor 1%,lighten($mainColor, 10%) 100%);
        background: linear-gradient(180deg, $mainColor 1%,lighten($mainColor, 10%) 100%);
        z-index: -1;
      }
      .user-picture {
        border-radius: 50%;
        display: inline-block;
        width: 20%;
        padding-bottom: 20%;
        background-size: cover;
        background-position: center center;
      }
      h2 {
        padding:0% 5%;
        font-size: 20px;
        margin-top: 10px;
        color: $light;
        font-weight: bold;
      }
    }

    .posts-list-container {
      .no-post {
        margin-top: 40px;
        text-align: center;
        font-size: 16px;
        color: $grey;
      }
      .loading {
        margin-top: 40px;
      }
      .card {
        margin-top: 10px;
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-bottom: 10px;
        }
        .item-header {
          padding-right: 50px;
          h2 {
            font-size: 18px;
            font-weight: bold;
            white-space: normal;
            white-space: nowrap;

          }
          .post-link {
            position: absolute;
            top: 50%;
            margin-top: -20px;
            right: 8px;
            padding: 0px;
            border: none;
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $mainColor;
            color: $light;
            i {
              font-size: 30px;
              display: block;
              text-align: center;
              margin-top: 10px;
              padding-left: 2px;
              &::before {
                line-height: 20px;
              }
            }
          }
        }
        .item-body {
          .item-image {
            padding-bottom: 16px;
            .picture {
              background-color: #EEE;
              width: 48%;
              padding-bottom: 48%;
              background-size: cover;
              background-position: center center;
              border-radius: 3px;
              &.picture-A {
                float: left;
              }
              &.picture-B {
                float: right;
              }
            }
          }
          .post-description {
            font-size: 14px;
            margin-top: 15px;
          }
          .votes-messages-count {
            .subdued {
              padding-right: 10px;
              color: #888;
              text-decoration: none;
              color: $mainColor;
            }
          }
        }
      }
    }
    .no-more-cards {
      text-align: center;
      color: $grey;
    }
  }
}