<ion-view view-title="{{::user.name}}" id="user-page">
  <ion-content class="page-content" overflow-scroll="true">

   <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()" 
    spinner= "none"
    refreshing-icon="ion-load-c">
  </ion-refresher>

      <div class="user-info">
        <div class="background-picture"></div>
        <div class="user-picture" ng-style="{'background-image':'url({{::user.picture}})'}"></div>
        <h2>{{::user.name}}</h2>
      </div>

     <section class="posts-list-container">

      <div class="no-post" ng-show="noPost">
        <p>No post yet</p>
      </div>

      <div class="list card fadein-effect" ng-repeat="post in posts | toArray | orderBy : '-time'" data-postid="{{::post.$key}}">

        <div class="item item-header">
          <h2>{{::post.title}}</h2>
          <p>{{::post.time | date : 'MMM d, HH:mm'}}</p>
          <a href="#/tab/{{::parentCategory}}/post/{{::post.$key}}/{{::parentCategory}}" class="item post-link">
            <i class="icon ion-ios-arrow-right"></i>
          </a>
        </div>

        <div class="item item-body">

          <div class="item item-image">
            <div class="picture picture-A" ng-style="{'background-image':'url({{::post.pictureA}})'}" ng-click="goToSlide(0); modalPictureUpdate(post)"></div>
            <div class="picture picture-B" ng-style="{'background-image':'url({{::post.pictureB}})'}" ng-click="goToSlide(1); modalPictureUpdate(post)"></div>
          </div>

          <pre class="post-description">{{::post.description}}</pre>
          <p class="votes-messages-count">
            <span class="subdued"><i class="ion-android-checkmark-circle"></i> {{post.voteATotal + post.voteBTotal}}</span>
            <span class="subdued"><i class="ion-chatbubbles"></i> {{::post.totalMessages}}</span>
          </p>
        </div>

      </div>
      <p class="no-more-cards" ng-hide="noPost" ng-if="noMoreData">No more posts</p>
      
    </section>

    <ion-infinite-scroll
      ng-if="!noMoreData"
      on-infinite="loadMore()"
      icon="ion-load-c"
      distance="1%">
    </ion-infinite-scroll>    

  </ion-content>
</ion-view>
