#terms-page {
  .page-content {
    .terms-content {
      h3 {
        font-size: 18px;
        padding-bottom: 4px;
        border-bottom: 1px solid #AAA;
      }
      h4 {
        font-size: 16px;
      }
      margin: 10px;
      padding: 10px;
      background-color: $light;
    }
  }
}