#how-to-use-page {
  .page-content {
    .scroll {
      width: 100%;
      height: 100%;
      .slider {
        height: 100%;
        .slider-slides {
          .slider-slide {
            @include flexCenter();
            .box {
              .logo {
                width: 100%;
                max-width: 150px;
              }
              .icon-box {
                display: inline-block;
                background-color: $mainColor;
                width: 80px;
                padding:10px 0px;
                border-radius: 50%;
                i {
                  color: $bg-color;
                  font-size: 60px;
                }
              }
              &.start {
                h2 {
                  padding: 0px 10px;
                  margin-bottom: 40px;
                }
                .content {
                  i {
                    font-size: 70px;
                    color: $mainColor
                  }
                  p {
                    font-weight: bold;
                    font-size: 20px;
                    margin-top: 10px;
                    margin-bottom: 30px;
                  }
                }
              }
              &.facebook {
                h2 {
                  padding: 0px 10px;
                  margin-bottom: 40px;
                }
                p {
                  font-size: 20px;
                  line-height: 25px;
                  margin-top: 20px;
                  margin-bottom: 30px;
                  padding: 0 20px;
                } 
              }
              &.posts {
                .expand-desc {
                  margin-bottom: 50px;
                }

                .icon-box {
                  margin-bottom: 20px;
                }
                p {
                  padding: 0 20px;
                  font-size: 20px;
                  line-height: 25px;
                }
              }
              &.terms {
                .icon-box {
                  padding: 8px 0 12px;
                }
                h2 {
                  text-decoration: underline;
                  margin-bottom: 40px;
                }
                ul {
                  li {
                    font-size: 25px;
                    margin-bottom: 15px;
                  }
                }
                p {
                  margin-top: 60px;
                  padding: 0px 10px;
                }
              }
              &.lets-go {
                h2 {
                  padding: 0 10px;
                  line-height: 20px;
                }
                .logo {
                  margin-top: 50px;
                  display: block;
                }
                .button {
                  margin-top: 50px;
                  background-color: $mainColor;
                  color: $light;
                  padding-top: 1px
                }
              }
            }
          }
        }
        .slider-pager {
          .slider-pager-page {
            &.active {
              color: $mainColor;
            }
          }
        }
      }
    }
  }
  @media (max-height: 481px) {
    .page-content {
      .scroll {
        .slider {
          .slider-slides {
            .slider-slide {
              .box {
                h2 {
                  font-size: 20px;
                }
                .content {
                  i {
                    font-size: 30px !important;
                  }
                }
                &.posts {
                  .icon-box {
                    width: 60px;
                  }
                  i {
                    font-size: 40px !important;
                  }
                }
                &.terms {
                  .icon-box {
                    width: 60px;
                  }
                  i {
                    font-size: 40px !important;
                  }
                  h2 {
                    margin: 20px 0px;
                  }
                  ul li {
                    font-size: 15px !important;
                  }
                  p {
                    margin-top: 20px;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}