<ion-view view-title="Welcome" id="how-to-use-page" class="fadein-effect">
  <ion-content class="page-content">

    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
      <ion-slide>
        <div class="box blue">
          <h1>Page 1</h1>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <h1>Page 2</h1>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <h1>Page 3</h1>

          <a href="#/tab/dash/" class="button dash-redirection">Got it</a>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
