#post-page {
  .page-content {
    .comments-container {
      .message {
        .user-picture {
          display: block;
          width: 30px;
          height: 30px;
          @include backgroundImg();
        }
      }
    }
    .comment-form {
      form {
        .item {
          position: relative;
          .message-input-loading {
            background-color: rgba(255, 255, 255, 0.8);
            @include absolutePos(0px, 0px, 0px, 0px);
            @include flexCenter();
          }
        }
      }
    }
  }
}
