#post-page {
  .page-content {
    .comments-container {
      .card {
        margin-bottom: 10px;
        margin-top: 0px;
        .message {
          padding: 10px;
          .user-infos-container {
            .user-picture {
              position: relative;
              border-radius: 50%;
              display: inline-block;
              width: 30px;
              height: 30px;
              @include backgroundImg();
              background-image: url('../img/user-default-small.png');
            }
            .user {
              color: inherit;
              text-decoration: none;
              position: absolute;
              top: 10px;
              left: 50px;
              right: 10px;
              font-weight: bold;
            }
            .time {
              position: absolute;
              top: 25px;
              left: 50px;
              right: 10px;
              font-size: 10px;
            }
          }
          .message-container {
            padding-top: 5px;
          }
        }
      }
    }
    .no-more-messages {
      text-align: center;
    }
  }
  .noComments {
    text-align: center;
    margin-top: 20px;
  }
  .message-form-link {
    color: $balanced;
    position: absolute;
    bottom: 50px;
    right: 10px;
    z-index: 99;
    font-size: 50px;
  }
}

.form-modal {
  form {
    transition: all 0.3s ease;
    .item {
      position: relative;
      .message-input-loading {
        background-color: rgba(255, 255, 255, 0.8);
        @include absolutePos(0px, 0px, 0px, 0px);
        @include flexCenter();
      }
    }
    .error-form-message {
      margin-bottom: 10px;
      margin-top: 0px;
    }
  }
  &.focus {
    // align-items: flex-start;
    // -webkit-align-items: flex-start;
    form {
      // transform: translate3d(0, -75%, 0)
      margin-top: -75%;
    }
  }
}
