<ion-tabs class="tabs-icon-only">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash/view">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

   <!-- Account Tab -->
  <ion-tab title="Friends" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

     <!-- new post Tab -->
  <ion-tab title="Add" icon-off="ion-ios-plus" icon-on="ion-ios-plus" href="#/tab/add">
    <ion-nav-view name="tab-add"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
