/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
#splash-page .page-content .section.first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/account-bg.jpg");
  background-size: cover;
  background-position: 50% 50%; }
  #splash-page .page-content .section.first h2 {
    color: white; }
  #splash-page .page-content .section.first button {
    width: 80%;
    background-color: #3b5998;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid #8b9dc3; }
    #splash-page .page-content .section.first button i {
      margin-right: 20px; }

#friends-page h2 {
  margin-top: 10px; }

#post-add-page .page-content .picture-container {
  max-width: 500%;
  width: 100%;
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 10px; }
  #post-add-page .page-content .picture-container:after {
    content: "";
    display: block;
    margin-top: 50%; }
  #post-add-page .page-content .picture-container button {
    border-radius: 50%;
    margin: 0px 40px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #EEE; }

#post-add-page .page-content form {
  padding-bottom: 20px; }
  #post-add-page .page-content form .list textarea {
    padding-top: 10px; }
  #post-add-page .page-content form .list span, #post-add-page .page-content form .list input, #post-add-page .page-content form .list textarea {
    background: none; }
  #post-add-page .page-content form .list .no-errors {
    background-color: #33cd5f;
    transition: all 1s ease; }
    #post-add-page .page-content form .list .no-errors span, #post-add-page .page-content form .list .no-errors input, #post-add-page .page-content form .list .no-errors textarea {
      color: white;
      transition: all 0.2s ease; }
  #post-add-page .page-content form .btn-form-submit {
    width: 60%;
    margin: 0 auto;
    border-radius: 5px; }

#dash-page .page-content .posts-list-container .card:first-child {
  margin-top: 0px; }

#dash-page .page-content .posts-list-container .card .item-body .item-image {
  padding-bottom: 16px; }
  #dash-page .page-content .posts-list-container .card .item-body .item-image .picture {
    width: 48%;
    padding-bottom: 48%;
    background-size: cover;
    background-position: center center;
    border-radius: 3px; }
    #dash-page .page-content .posts-list-container .card .item-body .item-image .picture.picture-A {
      float: left; }
    #dash-page .page-content .posts-list-container .card .item-body .item-image .picture.picture-B {
      float: right; }

.dash-modal .scroll {
  width: 100%;
  height: 100%; }

.transparent {
  background: transparent !important; }

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important; }

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0; }

.slider {
  width: 100%;
  height: 100%; }

.slider-pager .slider-pager-page {
  color: #FFF; }

.close-modal {
  position: absolute;
  bottom: 10px;
  right: 27px;
  color: white;
  font-size: 30px; }

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; } }

.mh-slide {
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
  opacity: 0; }

.mh-slide.ng-enter, .mh-slide > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.mh-slide.ng-enter-active, .mh-slide > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1; }

.mh-slide.ng-leave, .mh-slide > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

#account-page .page-content .list .account-tab-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative; }
  #account-page .page-content .list .account-tab-user .background-picture {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url("../img/account-bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    z-index: -1; }
  #account-page .page-content .list .account-tab-user .user-pic {
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    width: 30%; }
    #account-page .page-content .list .account-tab-user .user-pic:after {
      content: "";
      display: block;
      margin-top: 100%; }
  #account-page .page-content .list .account-tab-user h2 {
    margin-top: 20px;
    color: white;
    font-weight: bold; }

#account-page .page-content .list .item.logout-item {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 54px; }
  #account-page .page-content .list .item.logout-item button {
    min-height: 0px;
    line-height: 30px;
    width: 100%; }

#preferences-page .page-content .list .item.suspend-item {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 54px; }
  #preferences-page .page-content .list .item.suspend-item button {
    min-height: 0px;
    line-height: 30px;
    width: 100%; }

.spin {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
